<div class="column">
    <nav class="panel">
        <p class="panel-heading">Unfollowed</p>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Enkidu</strong>
                        <small>@enkidu</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Ishtar</strong>
                        <small>@ishtar</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Leonaidus</strong>
                        <small>@leonaidus</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Kingu</strong>
                        <small>@kingu</small>
                    </p>
                </div>
            </div>
        </article>
    </div>

    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/64x64.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Quetzalcoatl</strong>
                        <small>@quetzalcoatl</small>
                    </p>
                </div>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Ana</strong>
                        <small>@ana</small>
                    </p>
                </div>
            </div>

            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Ereshkigal</strong>
                        <small>@ereshkigal</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    </nav>
</div>