<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">
            #FGO_Anime
        </a>

        <a class="panel-block">
            #Gacha
        </a>

        <a class="panel-block">
            #Babylonia
        </a>

        <a class="panel-block">
            #Kingu_Redeemed
        </a>

        <a class="panel-block">
            #Gilgamesh_flesh_wound
        </a>

        <a class="panel-block">
            #Merlin
        </a>
    </nav>
</div>