
 @import "bulma";

 .navbar-brand .title {
     color: gold;
 }

 .image {
     border-radius: 50%;
     img {
         border-radius: 50%;
     }
 }

 .notification:not(:last-child) {
     margin-bottom: 0;
 }